/* 
========================================================================== */
/* Footer Dark Mode
==========================================================================
 */

 body.dark .footer{
    &__p{
      color: $white;     
    }
    &__socialmedia{
        a{
            color: #CDD6E0;
        } 
        a:hover{
            color: $white;
        }
    }
    &__copyright{
      color: $white;
    }
    &__hr{
      background-color: $black;
    }

  }

/* 
========================================================================== */
/* Footer Dark Mode
/* 64em = 1024px @ 16px font
==========================================================================
*/
    
  @media screen and (min-width:1024px) {
      body.dark  .footer{ 
          &__p{
            color: $white;
          }
        }      
    }