/* 
========================================================================== */
/* Hr
==========================================================================
 */

.header__hr {
  margin: 0px;
  height: 5px;
  background-color: $font_color;

}

/* 
========================================================================== */
/* MENU
==========================================================================
 */

 /* nav */

.navigation {
  position: relative;
  background-color: $white;
  width: 100%;
  overflow: hidden;

}

.navigation ul {
  /*display: block;*/

  margin: 0;
  padding: 0;
  padding-right: 5%;
  list-style: none;
  overflow: hidden;
  background: $white;
  text-align: center;
  
}

.navigation li a {
  display: block;
  padding: 20px 20px;
  color: $white;
  font-family: $Montserrat;
  font-weight: bold;
  font-size: 0.938em;
  width: 100%;
  background: $bg_menu;
  text-decoration: none;
  

}

.line{
  width: 2.563em;
  height: 1px;
  background: $white;
  position: absolute;
  margin: 0 auto;
  opacity: 50%;
  left: 47%;
 
}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background: $bg_menu;
  text-decoration: none;

}

/* Logo */

.navigation .navigation__logo{
  display: block;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  text-decoration: none;
  width: 3.05em;
  height: 3.05em;

}


/* menu */

.navigation .menu {
  clear: both;
  max-height: 0;
  transition: all .2s ease-out;

}

/* menu icon */

.navigation .menu-icon {
  cursor: pointer;
  float: right;
  padding: 2em 2em;
  position: relative;
  user-select: none;
  
}

.navigation .menu-icon .nav-icon {
  background: $bg_menu;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;

}

.navigation .menu-icon .nav-icon:before,
.navigation .menu-icon .nav-icon:after {
  background: $font_color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;

}

.navigation .menu-icon .nav-icon:before {
  top: 5px;
}

.navigation .menu-icon .nav-icon:after {
  top: -5px;

}

/* menu btn */

.navigation .menu-btn {
  display: none;

}

.navigation .menu-btn:checked ~ .menu {
  max-height: 240px;

}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;

}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;

}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;

}
/* 
========================================================================== */
/* FIN DEL MENU
==========================================================================
 */

/* New Gifo */

.new_gifo{
  display: none;
}


/* 
========================================================================== */
/* H1
==========================================================================
 */

 h1{
  
  @include h1_mobile();
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  

}

.h1_green{
  color: $green;

}


/* 
========================================================================== */
/* Header
/* 64em = 1024px @ 16px font
==========================================================================
*/


  @media screen and (min-width:1024px) {

   /* 
    ========================================================================== */
    /* MENU
    ==========================================================================
    */

    /* nav */

    .navigation .navigation__logo{
      position: relative;
      display: inline-block;
      margin-left: 7em;
      width: 4em;
      height: 4em;
    
    }

    .line{
      display: none;
    }

    .navigation li {
        float: left;
        font-size: 13px;
        color: $font_color;
        letter-spacing: 0;
        text-align: center;
      }

    .navigation li a {
        color: $font_color;
        background-color: $white;
        line-height: 28px;
        text-decoration: none;
        padding: 30px 30px;
        text-transform: uppercase;
      }
      
      .navigation li a:hover,
      .navigation .menu-btn:hover {
        background: $white;
        text-decoration: underline;
        text-decoration-color: $green;
        text-decoration-style: solid;
        
      }

      .navigation li a:active,
      .navigation .menu-btn:active {
        background: $white;

      }

    .navigation .menu {
      clear: none;
      float: right;
      max-height: 100%;
    }

    .navigation .menu-icon {
      display: none;
    }

    /* 
    ========================================================================== */
    /* FIN DEL MENU
    ==========================================================================
    */


    /* New Gifo */

    .new_gifo{
      margin-top: 0.6em;
      margin-left: 2em;
      margin-right: 2em;
      border: 1px solid $font_color;
      color: $font_color;
      background-color: $white;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3em;
      font-weight: bold;
      
    }

    .new_gifo:hover{
      color: $white;
      background-color: $font_color;
    }

    .new_gifo:active{
      color: $white;
      background-color: #9CAFC3;
      border: 1px solid #9CAFC3;
    }
    
  
   /* 
========================================================================== */
/* H1
==========================================================================
 */

    h1{
      @include h1_laptop();

      padding-top: 1.5em;
      width: 50%;

    }

  }

    

    