/* 
========================================================================== */
/* Root
==========================================================================
 */

 :root {
  font-size: 16px;
  
}

/* 
========================================================================== */
/* Hide
==========================================================================
 */


.hidden {
  display: none;
}


/* 
========================================================================== */
/* Dark Mode
==========================================================================
 */

body.dark{
  background-color: $bgc_dark;
}


