/* 
========================================================================== */
/* Search
==========================================================================
 */

 .search {
   position: relative;
   display: flex;
   flex-direction: column;

   &__image {
       margin: 0 auto;
       padding-top: 1em;
       width: 273px;
       height: auto;
   }

   &__container {
      position: relative;
      border: 1px solid $font_color;
      width: 20.9em;
      min-height: 3.125em;
      border-radius: 27px;
      left: 50%;
      transform: translateX(-50%);
 
         
   }

   &__bar {
      position: relative;
      height: 3.125em;

   }

   &__input {
      font-family: $Roboto;
      font-size: 16px;
      color: #000000;
      position: absolute;
      left: 55px;
      top: 15px;
      max-width: 26.25em;
      border: 0;
      padding: 0;
      margin: 0px;
      outline: none;
      
   }

   &__input::placeholder {
      font-family: $Roboto;
      font-size: 16px;
      color: #9CAFC3;
      text-align: left;
      padding-left: 1em;
      border: 0em;
   }

   &__submit {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 20px;
      background-color: white;
      outline: none;
      color: $font-color;
      border: 0em;
      cursor: pointer;
   }

   &__submit--close {
      top: 18px;
      font-size: 14px;
  }

}


/* Suggested search */

.suggested-words {
   border-top: 1px solid $active_color;
   position: relative;
   max-width: 503px;
   padding: 14px 0 8px;
   margin: 0 24px;
   box-sizing: border-box;
   //display: flex;
   //flex-direction: column;
   //justify-content: space-between;

   &__li { 
      list-style: none;
      color: $active_color;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
      letter-spacing: 0;
      line-height: 15px;
      font-weight: normal;
      cursor: pointer;
      & .icon-icon-search {
         margin-right: 1em;
     }
   }

   &__buttonLeft{
      position: relative;
      color: $active_color;
      left: 1em;
      top: 1em;
      border: 0em;
      background-color: transparent;
   }
}



/* Div H's - Trending Words */

.search_div {
   position: relative;

 &__h3 {
    @include h3_mobile();
    margin: 0em;
    padding-top: 2em;
    
 }

 &__h4 {
    @include h4_mobile();
    position: relative;
    margin: 0em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
  }
}

.trending_words{
 cursor: pointer;
 }

.trending_words:hover{
 text-decoration-line: underline;
}

/* 
========================================================================== */
/* Search Results
==========================================================================
*/

.search__noResults{
 display: flex;
 position: relative;
 flex-direction: column;
 align-items: center;

}

.search__noResults--h3{
 @include h3_mobile();
 position: relative;
 margin: 0em;
 padding-bottom: 2em; 
 padding-left: 5em;
 padding-right: 5em;
 padding-top: 3em;
 color: $green;
 margin-bottom: 2em;
 
}

.search__noResultsHidden{
 display: none;

}


.searchResults {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;


 &__line {
     border: 0; 
     height: 0; 
     box-shadow: 0 1px 1px 1px #9CAFC3;
     width: 30%;
     text-align: center;
 }

 &__title {
     @include h2_mobile();
     padding-top: 2em;
     padding-bottom: 2em;
 }
}

.searchResultsHidden{
 display: none;
}


.resultsGrid {
position: relative;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


/* See More Button */

.searchResults__button {
 @include more_button();

}

.searchResults__button:hover {
 color: $white;
 background-color: $font-color;

}

.searchResults__button--hidden {
 display: none;

}

/* 
========================================================================== */
/* Search Results
/* 39em = 624px @ 16px font
==========================================================================
*/
  
@media screen and (min-width:624px) {

 .resultsGrid {
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
   }

 }      



/* 
========================================================================== */
/* Search
/* 64em = 1024px @ 16px font
==========================================================================
*/

  @media screen and (min-width:1024px) {

    .search{
  
       &__image {
           margin: 0 auto;
           padding-top: 1em;
           width: 25em;
           height: auto;
       }

       &__container {
          width: 34.4em;
        
       }

       &__input { 
          width: 29.5em;
          outline: none;   
       }
    }  

    .search_div{

       &__h3 {
          @include h3_laptop();
          padding-top: 4em;
          margin: 0em;
       }
       

       &__h4 {
          @include h4_laptop();
          padding-bottom: 4em;
          padding-top: 0.5em;
          margin: 0em; 
          padding-left: 10em;
          padding-right: 10em;
       }
    }


  /* 
 ========================================================================== */
 /* Search Results
 /* 64em = 1024px @ 16px font
 ==========================================================================
 */


 .search__noResults{

    &__noResults--h3{
       @include h3_laptop();
       color: $green;
       
     }
 }
 
 .resultsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    }
  
  }