/* 
========================================================================== */
/* Search
==========================================================================
 */

 .search{
     position: relative;
     display: flex;
     flex-direction: column;

     &__image{
         margin: 0 auto;
         padding-top: 1em;
         width: 273px;
         height: auto;
     }

     &__container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $font_color;
        border-radius: 27px;
        width: 20.9em;
        height: 3.125em;

     }

     &__input{
        position: relative;
        font-family: $Roboto;
        font-size: 16px;
        color: #000000;
        border: 0em;
        left: 2em;
        width: 15em;
        height: 2.5em;
        /*outline: none;*/
        
     }
     /*
     &__input:focus{
        border: 0;
        outline: none;
     }*/

     &__input::placeholder{
        font-family: $Roboto;
        font-size: 16px;
        color: #9CAFC3;
        text-align: left;
        padding-left: 3em;
        border: 0em;
     }

     &__submit{
        margin-left: auto;
        margin-right: 1em;
        background-color: $white;
        border: 0em;
        color: $font_color;
     }

 }

.search_div{

   &__h3{
      @include h3_mobile();
      margin: 0em;
      padding-top: 2em;
      
   }

   &__h4{
      @include h4_mobile();
      position: relative;
      margin: 0em;
      padding-bottom: 2em;
      padding-left: 5em;
      padding-right: 5em;
    }


}


/* 
========================================================================== */
/* Search Results
==========================================================================
 */

 .searchResults {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;

   &__line {
       border: 0; 
       height: 0; 
       box-shadow: 0 1px 1px 1px #9CAFC3;
       width: 30%;
       text-align: center;
   }

   &__title {
       @include h2_mobile();
       padding-top: 2em;
       padding-bottom: 2em;
   }
}

.resultsGrid {
 position: relative;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


/* See More Button */

.searchResults__button {
   @include more_button();

   
}

.searchResults__button:hover {
   color: $white;
   background-color: $font-color;

}

 /* 
========================================================================== */
/* Search Results
/* 39em = 624px @ 16px font
==========================================================================
*/
    
@media screen and (min-width:624px) {

   .resultsGrid {
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
     }

   }      

 

/* 
========================================================================== */
/* Search
/* 64em = 1024px @ 16px font
==========================================================================
*/

    @media screen and (min-width:1024px) {

      .search{
    
         &__image {
             margin: 0 auto;
             padding-top: 1em;
             width: 25em;
             height: auto;
         }

         &__container {
            width: 34.4em;
            height: 3.125em;
         }

         &__input { 
            width: 29.5em;
            outline: none;   
         }
      }  

      .search_div{

         &__h3 {
            @include h3_laptop();
            padding-top: 4em;
            margin: 0em;
         }
         

         &__h4 {
            @include h4_laptop();
            padding-bottom: 4em;
            padding-top: 0.5em;
            margin: 0em; 
            padding-left: 10em;
            padding-right: 10em;
         }
      }

    /* 
   ========================================================================== */
   /* Search Results
   /* 64em = 1024px @ 16px font
   ==========================================================================
   */

      .resultsGrid {
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr ;
       }
 
         
    }