/* 
========================================================================== */
/* Trending
==========================================================================
 */

 .trending{
    background: #F3F5F8;
    display: flex;
    flex-direction: column;
    height: 26.9em;

    &__h2{
        @include h2_mobile();
        padding-top: 2em;
     }

    &__p--mobile{
        @include paragraph_mobile();
        font-size: 1em;
        align-items: center;
        text-align: center;
    }

    &__p--laptop{
        display: none;
    }
 }

 /* 
========================================================================== */
/* Slideshow
==========================================================================
 */

.slideshow{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }

    &__before{
      display: none;  
      
    }

    &__after{
        display: none;  
      }
}

/* cards */

.card {
    position: relative;
    width: 15.2em;
    height: 11.7em;
    border: 0em;
    margin: 1em;
    overflow: hidden;
    background: #fff;
}

.card__gif{
        position: relative;
        display: block;
        width: 15.2em;
        height: 11.7em;
        transition: all 0.2s linear;  
        

    }

.card__info{
        top: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
        width: 15.2em;
        height: 11.7em;
        color: $white;
        opacity: 0;
        background-color: rgba(87,46,229,0.60);
        transition: all 0.3s ease-in-out;
     
    }

.card__info--divs{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
     

}

.card__info--span{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        opacity: 0.7;
        background: $white;
        border-radius: 6px;
        border-radius: 6px;
        width: 1.5em;
        height: 1.5em;
        margin: 0.5em 0.25em 0.5em 0.25em;
    }

.card__info--span:last-child{
    margin-right: 0.5em;
}

.card__info--span:hover{
    opacity: 1;
}

.card__info--span:active .icon-icon-fav-hover{
    display:none;
}
.card__info--span:active .icon-icon-fav-active{
    display: block;
}

.icon-icon-fav-hover{
    font-size: 0.75em;
}

.icon-icon-fav-active{
    display:none;
}

.icon-icon-download{
    font-size: 0.75em;

}

.icon-icon-max{
    font-size: 0.75em;
}

.card__info--p1{
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        font-weight: normal;
        padding-left: 0.5em;
        top: 30%;  
        transition: all 0.4s linear;
    }   

.card__info--p2{
        position: relative;
        font-family: 'Roboto', sans-serif;
        padding: 5px;
        font-size: 1em;
        font-weight: bold;
        padding-left: 0.5em;
        top: 25%;
        transition: all 0.4s linear;
       
    }
 

.card:hover .card__info {
    opacity: 1;
    transition: opacity 500ms;
}

.card:hover .card__info--p1 .card__info--p1 {
    opacity: 1;
    transition: opacity 500ms;
}








/* 
========================================================================== */
/* Trending
/* 64em = 1024px @ 16px font
==========================================================================
*/
    
    @media screen and (min-width:1024px) {

        .trending{

            height: 40em;

            &__h2{
                @include h2_laptop();
                margin: 0em;
            }
    

            &__p--laptop{
                @include paragraph_laptop();
                font-size: 1.125em;
                display: flex;
                justify-content: center;
                margin-bottom: 2em;

            }

            &__p--mobile{
                display: none;

            }
       
        }
/* 
========================================================================== */
/* Slideshow
/* 64em = 1024px @ 16px font
==========================================================================
*/
        .slideshow{

            &__before{
                display: flex;
                justify-content: center;  
                align-items: center;
                color: $font_color;
                background: $white;
                border: 1px solid $font_color;
                width: 2.5em;
                height: 2.5em;
                font-size: 1em;
                font-family: 'gifOs';
                font-weight: bold;
                margin: 1em;
    
            }
    
            &__before:hover{
                color: $white;
                background: $font_color;
                border: 1px solid $font_color;
                
            }
    
          
            &__after{ 
                display: flex;
                justify-content: center; 
                align-items: center; 
                color: $font_color; 
                background: $white;
                border: 1px solid $font_color;
                width: 2.5em;
                height: 2.5em;
                font-size: 1em; 
                font-family: 'gifOs';
                font-weight: bold;
                margin: 1em;
    
            }
    
            &__after:hover{
                color: $white;
                background: $font_color;
                border: 1px solid $font_color;
                
            }
        }


        .card{
            width: 22em;
            height: 17em;
            border: 0em;
            margin: 1em;
        }
    
        .card__gif{
            width: 22em;
             height: 17em;
        
            }

        .card__info{
            width: 22em;
            height: 17em;
          
            }
        
            .card__info--span{

                width: 2em;
                height: 2em;
                margin: 0.5em 0.25em 0.5em 0.25em;
            }
        
        
        .icon-icon-fav-hover{
            font-size: 1em;
        }
        
        .icon-icon-fav-active{
            display:none;
        }
        
        .icon-icon-download{
            font-size: 1em;
        
        }
        
        .icon-icon-max{
            font-size: 1em;
        }


        .card__info--p1{
                top: 50%;  
            }   
        
        .card__info--p2{
                top: 45%;
               
            }

    

        
    }
