@charset "UTF-8";
/* 
========================================================================== */
/* Root
==========================================================================
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  font-size: 16px;
}

/* 
========================================================================== */
/* Fonts
==========================================================================
 */
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: bold;
  font-style: italic;
}

/* 
========================================================================== */
/* Content
==========================================================================
 */
.content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

/* 
========================================================================== */
/* Hr
==========================================================================
 */
.header__hr {
  margin: 0px;
  height: 5px;
  background-color: #572EE5;
}

/* 
========================================================================== */
/* MENU
==========================================================================
 */
/* nav */
.navigation {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.navigation ul {
  /*display: block;*/
  margin: 0;
  padding: 0;
  padding-right: 5%;
  list-style: none;
  overflow: hidden;
  background: #fff;
  text-align: center;
}

.navigation li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.938em;
  width: 100%;
  background: rgba(87, 46, 229, 0.9);
  text-decoration: none;
}

.line {
  width: 2.563em;
  height: 1px;
  background: #fff;
  position: absolute;
  margin: 0 auto;
  opacity: 50%;
  left: 47%;
}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background: rgba(87, 46, 229, 0.9);
  text-decoration: none;
}

/* Logo */
.navigation .navigation__logo {
  display: block;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  text-decoration: none;
  width: 3.05em;
  height: 3.05em;
}

/* menu */
.navigation .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/* menu icon */
.navigation .menu-icon {
  cursor: pointer;
  float: right;
  padding: 2em 2em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation .menu-icon .nav-icon {
  background: rgba(87, 46, 229, 0.9);
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.navigation .menu-icon .nav-icon:before,
.navigation .menu-icon .nav-icon:after {
  background: #572EE5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .menu-icon .nav-icon:before {
  top: 5px;
}

.navigation .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */
.navigation .menu-btn {
  display: none;
}

.navigation .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/* 
========================================================================== */
/* FIN DEL MENU
==========================================================================
 */
/* New Gifo */
.new_gifo {
  display: none;
}

/* 
========================================================================== */
/* H1
==========================================================================
 */
h1 {
  font-family: "ProximaNova-Bold";
  font-size: 1.5625em;
  color: #572EE5;
  letter-spacing: 0;
  line-height: 33px;
  font-weight: 700;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
}

.h1_green {
  color: #50E3C2;
}

/* 
========================================================================== */
/* Header
/* 64em = 1024px @ 16px font
==========================================================================
*/
@media screen and (min-width: 1024px) {
  /* 
    ========================================================================== */
  /* MENU
    ==========================================================================
    */
  /* nav */
  .navigation .navigation__logo {
    position: relative;
    display: inline-block;
    margin-left: 7em;
    width: 4em;
    height: 4em;
  }
  .line {
    display: none;
  }
  .navigation li {
    float: left;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
  }
  .navigation li a {
    color: #572EE5;
    background-color: #fff;
    line-height: 28px;
    text-decoration: none;
    padding: 30px 30px;
    text-transform: uppercase;
  }
  .navigation li a:hover,
  .navigation .menu-btn:hover {
    background: #fff;
    text-decoration: underline;
    -webkit-text-decoration-color: #50E3C2;
            text-decoration-color: #50E3C2;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
  }
  .navigation li a:active,
  .navigation .menu-btn:active {
    background: #fff;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: 100%;
  }
  .navigation .menu-icon {
    display: none;
  }
  /* 
    ========================================================================== */
  /* FIN DEL MENU
    ==========================================================================
    */
  /* New Gifo */
  .new_gifo {
    margin-top: 0.6em;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #572EE5;
    color: #572EE5;
    background-color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.3em;
    font-weight: bold;
  }
  .new_gifo:hover {
    color: #fff;
    background-color: #572EE5;
  }
  .new_gifo:active {
    color: #fff;
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  /* 
========================================================================== */
  /* H1
==========================================================================
 */
  h1 {
    font-family: "ProximaNova-Bold";
    font-size: 2.1875em;
    color: #572EE5;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    padding-top: 1.5em;
    width: 50%;
  }
}

/* 
========================================================================== */
/* Search
==========================================================================
 */
.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
     &__input:focus{
        border: 0;
        outline: none;
     }*/
}

.search__image {
  margin: 0 auto;
  padding-top: 1em;
  width: 273px;
  height: auto;
}

.search__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 20.9em;
  height: 3.125em;
}

.search__input {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  border: 0em;
  left: 2em;
  width: 15em;
  height: 2.5em;
  /*outline: none;*/
}

.search__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  padding-left: 3em;
  border: 0em;
}

.search__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  padding-left: 3em;
  border: 0em;
}

.search__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  padding-left: 3em;
  border: 0em;
}

.search__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  padding-left: 3em;
  border: 0em;
}

.search__submit {
  margin-left: auto;
  margin-right: 1em;
  background-color: #fff;
  border: 0em;
}

.search_div__h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  color: #572EE5;
  letter-spacing: 0;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  margin: 0em;
  padding-top: 2em;
}

.search_div__h4_mobile {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  color: #572EE5;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 0em;
  padding-bottom: 2em;
}

.search_div__h4_laptop {
  display: none;
}

/* 
========================================================================== */
/* Search
/* 64em = 1024px @ 16px font
==========================================================================
*/
@media screen and (min-width: 1024px) {
  .search__image {
    margin: 0 auto;
    padding-top: 1em;
    width: 25em;
    height: auto;
  }
  .search__container {
    width: 34.4em;
    height: 3.125em;
  }
  .search__input {
    width: 29.5em;
    outline: none;
  }
  .search_div__h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #572EE5;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    padding-top: 4em;
    margin: 0em;
  }
  .search_div__h4_mobile {
    display: none;
  }
  .search_div__h4_laptop {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #572EE5;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    padding-bottom: 4em;
    padding-top: 0.5em;
    margin: 0em;
  }
}

/* 
========================================================================== */
/* Search Results
==========================================================================
 */
.searchResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchResults__line {
  border: 0;
  height: 0;
  -webkit-box-shadow: 0 1px 1px 1px #9CAFC3;
          box-shadow: 0 1px 1px 1px #9CAFC3;
  width: 30%;
  text-align: center;
}

.searchResults__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #572EE5;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.resultsGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* cards */
.resultsCard {
  position: relative;
  width: 10em;
  height: 8em;
  border: 0em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
  background: #fff;
}

.resultsCard__gif {
  position: relative;
  display: block;
  width: 10em;
  height: 8em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.resultsCard__info {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 10em;
  height: 8em;
  color: #fff;
  opacity: 0;
  background-color: rgba(87, 46, 229, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.resultsCard__info--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.resultsCard__info--p1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 0.7em;
  font-weight: normal;
  padding-left: 0.5em;
  top: 19%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.resultsCard__info--p2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 5px;
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 0.5em;
  top: 10%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.resultsCard:hover .resultsCard__info {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* Botón Ver más */
.searchResults__botton {
  position: relative;
  border: 1px solid #572EE5;
  border-radius: 25px;
  color: #572EE5;
  background-color: #fff;
  width: 8em;
  height: 3.125em;
  margin: 4em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
}

.searchResults__botton:hover {
  color: #fff;
  background-color: #572EE5;
}

/* 
========================================================================== */
/* Search Results
/* 39em = 624px @ 16px font
==========================================================================
*/
@media screen and (min-width: 624px) {
  .resultsGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

/* 
========================================================================== */
/* Search Results
/* 48em = 768px @ 16px font
==========================================================================
*/
@media screen and (min-width: 768px) {
  .resultsGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .resultsCard {
    width: 12.5em;
    height: 9.625em;
  }
  .resultsCard__gif {
    width: 12.5em;
    height: 9.625em;
  }
  .resultsCard__info {
    width: 12.5em;
    height: 9.625em;
  }
  .resultsCard__info--p1 {
    top: 20%;
    font-size: 0.8em;
  }
  .resultsCard__info--p2 {
    top: 12%;
    font-size: 0.8em;
  }
}

/* 
========================================================================== */
/* Search Results
/* 64em = 1024px @ 16px font
==========================================================================
*/
@media screen and (min-width: 1024px) {
  .resultsGrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

/* 
========================================================================== */
/* Trending
==========================================================================
 */
.trending {
  background: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 26.9em;
}

.trending__h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #572EE5;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
}

.trending__p--mobile {
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0;
  line-height: 15px;
  font-weight: normal;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.trending__p--laptop {
  display: none;
}

/* 
========================================================================== */
/* Slideshow
==========================================================================
 */
.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slideshow__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slideshow__before {
  display: none;
}

.slideshow__after {
  display: none;
}

/* cards */
.card {
  position: relative;
  width: 15.2em;
  height: 11.7em;
  border: 0em;
  margin: 1em;
  overflow: hidden;
  background: #fff;
}

.card__gif {
  position: relative;
  display: block;
  width: 15.2em;
  height: 11.7em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.card__info {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 15.2em;
  height: 11.7em;
  color: #fff;
  opacity: 0;
  background-color: rgba(87, 46, 229, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__info--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__info--span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 0.7;
  background: #fff;
  border: 0em;
  border-radius: 6px;
  border-radius: 6px;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0.25em 0.5em 0.25em;
}

.card__info--span:last-child {
  margin-right: 0.5em;
}

.card__info--span:hover {
  opacity: 1;
}

.card__info--span:active .icon-icon-fav-hover {
  display: none;
}

.card__info--span:active .icon-icon-fav-active {
  display: block;
  font-size: 0.75em;
}

.icon-icon-fav-hover {
  font-size: 0.75em;
}

.icon-icon-fav-active {
  display: none;
}

.icon-icon-download {
  font-size: 0.75em;
}

.icon-icon-max {
  font-size: 0.75em;
}

.card__info--p1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  padding-left: 0.5em;
  top: 30%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.card__info--p2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.5em;
  top: 25%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.card:hover .card__info {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* 
========================================================================== */
/* Trending
/* 64em = 1024px @ 16px font
==========================================================================
*/
@media screen and (min-width: 1024px) {
  .trending {
    height: 40em;
  }
  .trending__h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625em;
    color: #572EE5;
    letter-spacing: 0;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0em;
  }
  .trending__p--laptop {
    font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: 400;
    font-size: 1.125em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2em;
  }
  .trending__p--mobile {
    display: none;
  }
  /* 
    ========================================================================== */
  /* Slideshow
    /* 64em = 1024px @ 16px font
    ==========================================================================
    */
  .slideshow__before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #572EE5;
    background: #fff;
    border: 1px solid #572EE5;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    font-family: "gifOs";
    font-weight: bold;
    margin: 1em;
  }
  .slideshow__before:hover {
    color: #fff;
    background: #572EE5;
  }
  .slideshow__after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #572EE5;
    background: #fff;
    border: 1px solid #572EE5;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    font-family: "gifOs";
    font-weight: bold;
    margin: 1em;
  }
  .slideshow__after:hover {
    color: #fff;
    background: #572EE5;
    border: 1px solid #572EE5;
  }
  .card {
    width: 22em;
    height: 17em;
    border: 0em;
    margin: 1em;
  }
  .card__gif {
    width: 22em;
    height: 17em;
  }
  .card__info {
    width: 22em;
    height: 17em;
  }
  .card__info--span {
    width: 2em;
    height: 2em;
    margin: 0.5em 0.25em 0.5em 0.25em;
  }
  .icon-icon-fav-hover {
    font-size: 1em;
  }
  .icon-icon-fav-active {
    display: none;
  }
  .icon-icon-download {
    font-size: 1em;
    color: tomato;
  }
  .icon-icon-max {
    font-size: 1em;
  }
  .card__info--p1 {
    top: 50%;
  }
  .card__info--p2 {
    top: 45%;
  }
  .card__info--span:active .icon-icon-fav-active {
    display: block;
    font-size: 1em;
  }
}

/* 
========================================================================== */
/* Footer
==========================================================================
 */
.footer {
  position: relative;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__p {
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0;
  line-height: 15px;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  padding: 0.5em;
}

.footer__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__socialmedia div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #CDD6E0;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.footer__socialmedia a {
  color: #CDD6E0;
}

.footer__socialmedia a:hover {
  color: #572EE5;
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0;
  line-height: 15px;
  font-weight: normal;
  font-size: 14px;
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer__hr {
  margin: 0px;
  height: 5px;
  background-color: #572EE5;
  width: 100%;
}

/* 
    ========================================================================== */
/* Footer
    /* 64em = 1024px @ 16px font
    ==========================================================================
    */
@media screen and (min-width: 1024px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__p {
    font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    padding-left: 9em;
  }
  .footer__socialmedia {
    position: absolute;
    left: 14em;
  }
  .footer__copyright {
    padding-right: 8em;
    margin-left: auto;
    font-size: 13px;
  }
}
/*# sourceMappingURL=styles.css.map */